<div id="login-module">
    <div class="login">
        <div class="login-logo">
            <img src="./images/logo.png" >
        </div> <!--/login-logo-->
        <div class="login-form">  
            <form>
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Username" ng-model="ctrl.credentials.username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"  placeholder="Password" ng-model="ctrl.credentials.password">
                </div>
                <p class="form-message" ng-if="ctrl.message.length"><i class="fa fa-exclamation-triangle"></i> {{ ctrl.message }}</p>
                <div class="login-button">
                    <button ng-click="ctrl.login()" ng-class="{ 'disabled': ctrl.loading }">
                        <span><i class="fa fa-sign-in" aria-hidden="true"></i> Login</span>
                    </button>
                </div>
            </form>
        </div> <!--/login-form-->
    </div> <!--/login-->
</div>