@path:"app/shared/them-style/";
@import "@{path}/mixins";
@import "@{path}/variables";
@import "@{path}/colors";

#login-module {
    .login {
        width: 500px;
        margin: 30px auto;
        padding: 10px;
        text-align: center;
    }
    .login-logo {
        display: block;
        padding: 25px 0;
        img {
            height: 180px;
        }
    }
    .login-form {
        padding: 10px 0px;
        input {
            .dimensions(335px,40px);
            border: 1px solid @white;
            border-radius: 6px;
            margin: 0 auto;
        }
    }
    .login-button {
        padding: 10px 0;
        button {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            max-width: 120px;
            color: @white;
            background-color: @main-color;
            box-shadow: none;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            .transation;

            &:hover {
                color: @gray-light;
                background-color: @main-color;
            }
            .disabled {
                background: @gray-light;
                cursor: wait;

                &:hover {
                    color: @white;
                }
            }
        }

        i {
            margin-right: 5px;
        }
    }
    .form-message {
        margin: 20px 0 10px 0;
        text-transform: capitalize;
        color:@red;
    }
} 
