<div id="product-module" ng-show="showContent">
  <!--<div class="back-btn" ui-sref="dashboard.list-products({ id: ctrl.product.category.id })">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>-->
  <div class="row" style="margin: 0; height: 100%;">
    <div class="product-image col-sm-6">
      <div class="row">
        <div class="col-xs-4 col-sm-3" ng-if="ctrl.product.images.length">
          <div class="image-selector">
            <p><i class="fa fa-camera"></i> Photos</p>
            <img
              ng-repeat="img in ctrl.product.images"
              ng-src="{{ img.src }}"
              ng-click="ctrl.currentImage = $index;"
              ng-class="{ 'selected': ctrl.currentImage === $index }">
          </div>
        </div>
        <div
          ng-class="{
            'col-xs-8': ctrl.product.images.length,
            'col-sm-9': ctrl.product.images.length,
            'col-xs-12': !ctrl.product.images.length
          }">
          <div class="product-display">
            <img ng-if="ctrl.product.images.length" ng-src="{{ ctrl.product.images[ctrl.currentImage].src }}">
            <img ng-if="!ctrl.product.images.length" ng-src="./assets/images/product-placeholder.png">
            <div class="details" ng-if="ctrl.product.images.length">
              <button class="ui button" ng-click="ctrl.removeImage(ctrl.product.images[ctrl.currentImage].id);">
                <i class="fa fa-trash"></i> Remove image
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="new-photos" class="row">
        <div class="col-xs-8">
          <input class="file-input" type="file" accept="image/*" files-model="ctrl.newImages" multiple>
        </div>
        <div class="col-xs-4" style="text-align: right;">
          <button type="button" class="ui button" ng-click="ctrl.addImages();"><i class="fa fa-plus"></i> Add photos</button>
        </div>
      </div>
    </div>

    <div class="product-details col-sm-6">
      <div class="row" style="padding: 10px 0;">
        <button class="ui basic button pull-right"
          ng-if="ctrl.tab !== 'statistics'"
          ng-click="ctrl.tab = 'statistics';">
          <i class="fa fa-bar-chart"></i> Statistics
        </button>
        <button class="ui basic button pull-right"
          ng-if="ctrl.tab !== 'details'"
          ng-click="ctrl.tab = 'details';">
          <i class="fa fa-info"></i> Details
        </button>
      </div>

      <div class="details" ng-if="ctrl.tab === 'details'">
        <!--product-name-->
        <div class="product-name">
          <div class="field-value" ng-hide="ctrl.feildInEdit === 'product-name'">
            <p>{{ ctrl.product.name }}</p>
            <div class="edit-btn" ng-hide="loading" ng-click="name.newValue = ctrl.product.name; ctrl.feildInEdit = 'product-name'">
              <p><span>Edit</span> <i class="fa fa-pencil-square-o"></i></p>
            </div>
          </div>

          <div class="field-editing" ng-show="ctrl.feildInEdit === 'product-name'">
            <p>Product name</p>
            <form name="productNameForm">
              <input type="text" name="name" ng-model="name.newValue" autofocus required>
              <div class="messages" ng-messages="productNameForm.name.$error">
                <p ng-message="required">Name is required</p>
              </div>
              <div class="btns">
                <div class="spinner" ng-show="loading">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
                <button
                  type="submit"
                  ng-disabled="loading || productNameForm.name.$invalid"
                  ng-click="ctrl.updateProduct('name', name.newValue);"
                  class="save-btn"><i class="fa fa-save"></i>Save changes</button>
                <button
                  ng-disabled="loading"
                  ng-click="ctrl.feildInEdit = undefined"
                  class="cancel-btn"><i class="fa fa-times"></i>Cancel</button>
              </div>
            </form>
          </div>
        </div> <!--/product-name-->

        <!--product-desc-->
        <div class="product-desc">
          <div class="field-value" ng-hide="ctrl.feildInEdit === 'product-desc'">
            <p>{{ ctrl.product.desc }}</p>
            <p ng-show="ctrl.product.desc === ''">There is no description</p>
            <div class="edit-btn" ng-hide="loading" ng-click="desc.newValue = ctrl.product.desc; ctrl.feildInEdit = 'product-desc'">
              <p><span>Edit</span> <i class="fa fa-pencil-square-o"></i></p>
            </div>
          </div>

          <div class="field-editing" ng-show="ctrl.feildInEdit === 'product-desc'">
            <p>Product description</p>
            <form name="productDescForm">
              <textarea name="desc" ng-model="desc.newValue" autofocus></textarea>
              <div class="messages" ng-messages="productDescForm.desc.$error">
              </div>
              <div class="btns">
                <div class="spinner" ng-show="loading">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
                <button
                  type="submit"
                  ng-disabled="loading || productDescForm.desc.$invalid"
                  ng-click="ctrl.updateProduct('desc', desc.newValue);"
                  class="save-btn"><i class="fa fa-save"></i>Save changes</button>
                <button
                  ng-disabled="loading"
                  ng-click="ctrl.feildInEdit = undefined"
                  class="cancel-btn"><i class="fa fa-times"></i>Cancel</button>
              </div>
            </form>
          </div>
        </div> <!--/product-desc-->

        <!--product-meta-->
        <div class="product-meta">
          <span class="likes"><i class="fa fa-heart" aria-hidden="true"></i>{{ ctrl.product.meta.likes }}</span>
          <span class="views"><i class="fa fa-eye" aria-hidden="true"></i>{{ ctrl.product.meta.views }}</span>
        </div> <!--/product-meta-->

        <!--product-price-->
        <div class="product-price">
          <p><i class="fa fa-money"></i>Price</p>
          <div class="field-value" ng-hide="ctrl.feildInEdit === 'product-price'">
            <p><span>{{ ctrl.product.price | number:2 }} L.E</span></p>
            <div class="edit-btn" ng-hide="loading" ng-click="price.newValue = ctrl.product.price; ctrl.feildInEdit = 'product-price'">
              <p><span>Edit</span> <i class="fa fa-pencil-square-o"></i></p>
            </div>
          </div>

          <div class="field-editing" ng-show="ctrl.feildInEdit === 'product-price'">
            <form name="productPriceForm">
              <input type="number" step="0.01" min="0.0" name="price" ng-model="price.newValue" autofocus required>
              <div class="messages" ng-messages="productPriceForm.price.$error">
                <p ng-message="required">Price is required</p>
                <p ng-message="number">Price should be a number</p>
                <p ng-message="min">Price should be a positive number</p>
              </div>
              <div class="btns">
                <div class="spinner" ng-show="loading">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
                <button
                  type="submit"
                  ng-disabled="loading || productPriceForm.price.$invalid"
                  ng-click="ctrl.updateProduct('price', price.newValue);"
                  class="save-btn"><i class="fa fa-save"></i>Save changes</button>
                <button
                  ng-disabled="loading"
                  ng-click="ctrl.feildInEdit = undefined"
                  class="cancel-btn"><i class="fa fa-times"></i>Cancel</button>
              </div>
            </form>
          </div>
        </div> <!--/product-price-->

        <!--product-colors-->
        <div class="product-colors">
          <p><i class="fa fa-paint-brush"></i>Colors</p>
          <div class="colors">
            <div
              class="color"
              ng-repeat="color in ctrl.product.dynamicFields.colors track by $index"
              ng-style="{ 'background-color': color.value }"
              ng-class="{ 'disabled': loading }"
              ng-click="ctrl.removeColor(color.id)">
                <div class="delete">
                  <i class="fa fa-trash"></i>
                </div>
            </div>
            <div class="color" ng-click="ctrl.feildInEdit = 'new-color'" ng-hide="ctrl.feildInEdit === 'new-color'">
              <div class="new">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
          <div class="new-color field-editing" ng-show="ctrl.feildInEdit === 'new-color'">
            <p>Add new color</p>
            <color-picker
              ng-model="ctrl.colorPickerValue"
              options="ctrl.colorPickerOptions">
            </color-picker>
            <div class="btns">
              <div class="spinner" ng-show="loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
              <button
                ng-disabled="loading"
                ng-click="ctrl.addColor()"
                class="save-btn"><i class="fa fa-plus"></i>Add</button>
              <button
                ng-disabled="loading"
                ng-click="ctrl.feildInEdit = undefined"
                class="cancel-btn"><i class="fa fa-times"></i>Cancel</button>
            </div>
          </div>
        </div> <!--/product-colors-->

        <!--product-sizes-->
        <div class="product-sizes">
          <p><i class="fa fa-th" aria-hidden="true"></i>Sizes</p>
          <div class="btns">
            <button
              class="size-btn"
              ng-disabled="loading"
              ng-repeat="(size, value) in ctrl.product.dynamicFields.sizes"
              ng-class="{ 'selected': value }"
              ng-click="ctrl.changeSize(size)">{{ size }}</button>
          </div>
        </div> <!--/product-size-->

      </div>

      <div class="statistics" ng-if="ctrl.tab === 'statistics'">
        <div class="row" style="margin: 0;">
          <div class="ui basic buttons">
            <button class="ui button"
              ng-click="ctrl.statisticsTab = 'views'"
              ng-class="{ 'active': ctrl.statisticsTab === 'views' }"><i class="fa fa-eye"></i> Views</button>
            <button class="ui button"
              ng-click="ctrl.statisticsTab = 'likes'"
              ng-class="{ 'active': ctrl.statisticsTab === 'likes' }"><i class="fa fa-heart"></i> Likes</button>
            <!--<button class="ui button"
              ng-click="ctrl.statisticsTab = 'orders'"
              ng-class="{ 'active': ctrl.statisticsTab === 'orders' }"><i class="fa fa-diamond"></i> Orders</button>-->
          </div>
          <div>
            <div class="row" style="margin: 0; margin-top: 30px;">
              <canvas class="chart chart-line"
                chart-data="ctrl.statistics[ctrl.statisticsTab].events.data"
                chart-labels="ctrl.statistics[ctrl.statisticsTab].events.labels"></canvas>
            </div>
            <div class="row" style="margin: 0; margin-top: 30px;">
              <div class="col-xs-4">
                <div class="ui small statistic" style="margin-top: 10px;">
                  <div ng-if="ctrl.statisticsTab === 'views'" class="value">{{ ctrl.statistics.views.count }}</div>
                  <div ng-if="ctrl.statisticsTab === 'views'" class="label">Views</div>

                  <div ng-if="ctrl.statisticsTab === 'likes'" class="value">{{ ctrl.statistics.likes.count }}</div>
                  <div ng-if="ctrl.statisticsTab === 'likes'" class="label">Likes</div>

                  <!--<div ng-if="ctrl.statisticsTab === 'orders'" class="value">{{ ctrl.statistics.orders.count }}</div>
                  <div ng-if="ctrl.statisticsTab === 'orders'" class="label">Orders</div>-->
                </div>
              </div>
              <div class="col-xs-4">
                <p>Genders</p>
                <canvas class="chart chart-pie"
                  chart-labels="ctrl.statistics[ctrl.statisticsTab].gender.labels"
                  chart-data="ctrl.statistics[ctrl.statisticsTab].gender.data"></canvas>
              </div>
              <div class="col-xs-4">
                <p>Ages</p>
                <canvas class="chart chart-pie"
                  chart-labels="ctrl.statistics[ctrl.statisticsTab].ageRanges.labels"
                  chart-data="ctrl.statistics[ctrl.statisticsTab].ageRanges.data"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--/product-details-->
  </div> <!--/row-->
</div> <!--/product-module-->
