#product-module .row {
    margin: 0px;
}

#product-module .back a {
    color: #4D4747;
    float: left;
    font-size: 28px;
}

#product-module .back a:hover {
    color: gray;
    text-decoration:none;
}

#product-module .display-product img {
    width: 300px;
    margin: 90px auto;
    display: block;
}

#product-module .product-details {
    border-left: 2px solid rgba(28, 43, 54, 0.17);
    border-left-width: 2px;
}

#product-module .product-details h1 {
    color: rgba(0, 0, 0, 0.86);
    font-weight: bold;

} 

#product-module .details h1:after {
    content: "";
    width: 90px;
    height: 2px;
    display: block;
    margin: 0;
    background-color: #184566;
    margin-top: 21px;
}

#product-module .product-details p {
    text-align: left;
    line-height: 24px;
    color: #6C5F5F;
    font-family: sans-serif;
    padding: 15px 0px;
}

#product-module .product-details {
    height: 45em;
    border-left: 1.5 solid #ccc;
}

#product-module .Review {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 30px;
}

#product-module .Review .likes {
    color:red;
    padding-right: 10px;
}

#product-module .Review .watching {
    color:rgb(77, 71, 71);
}

#product-module .Review i {
    padding-right: 10px;
}

#product-module .price p {
    color: rgba(0, 0, 0, 0.86);
    font-size: 20px;
    font-weight: bold;
}

#product-module .price span {
    color: rgb(77, 71, 71);
    font-size: 20px;
}
