@path:"app/shared/them-style/";
@import "@{path}/mixins";
@import "@{path}/variables";
@import "@{path}/colors";

/* code */
#product-module {
    position: relative;
    height: 100%;
}

#product-module .row {
    margin: 0px;
    position: relative;
    height: 100%;
}

#product-module .back-btn {
    position: absolute;
    .push-round(0,0,none);
    z-index: 1000;
    cursor: pointer;
    background-color:blu;
    color: @gray;
    .font(15px,none);
    .dimensions(35px,35px);
    line-height: 36px;
    text-align: center;
    padding-right: 3px;
    border-radius: 50%;
    .transation;
}

#product-module .back-btn:hover {
    color: @gray-dark;
    background-color: @white;
    text-decoration: none;
}

#product-module .product-display img {
    display: block;
    margin: 90px auto;
    max-width: 300px;  
}

#product-module .product-details {
    .dimensions('100% !important',100%);
    border-left: 1px solid @light;
    padding: 0 25px;

    i {
        margin-right: 8px;
    }

    .product-name {
        margin: 10px 0 15px 0;
        color: @gray-dark;
        .field-value > p {
            font-size: 30px;
            font-weight: bold;
            display: inline-block;
        }
    }

    .product-desc {
        margin: 10px 0 30px 0;
        .field-value > p {
            text-align: justify;
        }
        .field-editing textarea {
            height: 130px;
        }
    }

    .product-meta {
        font-size: 20px;
        margin: 10px 0 20px 0;

        .likes {
            color:@red;
            margin-right: 15px;
        }

        .views {
            color:@gray-dark;
        }

        .likes, .views {
            i {
                font-size: 22px;
            }
        }
    }

    .product-price {
        margin: 25px 0;
        position: relative;

        & > p, .field-value > p {
            color: @gray-dark;
            font-size: 22px;
        }

        & > p {
            font-weight: bold;
            & > i {
                font-size: 19px;
            }
        }

        .field-value {
            & > span {
                color: @gray;
                font-size: 20px;
            }
        }
    }

    .product-name, .product-desc, .product-price {
        position: relative;
        &:hover .edit-btn {
            display: inline;
        }
    }

    .product-sizes {
        margin-top: 30px;
        & > p {
            color: @gray-dark;
            .font;
            i {
                font-size: 16px;
            }
        }

        .btns {
            margin: 5px 0;
            .size-btn {
                display: inline-block;
                .dimensions(40px,40px);
                font-size: 11px;
                margin-right: 7px;
                background-color: @white;
                color: @gray-dark;
                border: 1px solid @white;
                text-transform: uppercase;
                outline: none;
                .transation;

                &:hover {
                    border-color: @gray-light;
                    background-color: @white;
                }

                &:disabled {
                    cursor: wait;
                }

                &.selected {
                    background-color: @lightskyblue;
                    border-color: @dodgerblue;
                    color:  @white;
                }
            }
        }
    }

    .product-colors {
        margin: 20px 0;

        & > p {
            color: @gray-dark;
            font-size: 22px;
            font-weight: bold;
            .font;

            & > i {
                font-size: 16px;
            }
        }

        .colors {
            margin: 10px 0;
            .color {
                display: inline-block;
                margin-right: 8px;
                .dimensions(25px,25px);
                border: 1px solid @gray;
                cursor: pointer;
                border-radius: 50%;

                .delete {
                    visibility: hidden;
                    opacity: 0;
                    .dimensions;
                    line-height: 25px;
                    background-color: @gray-light;
                    text-align: center;
                    border-radius: 50%;
                    .transation;

                    i {
                        margin: 0;
                        color: @gray-dark;
                    }
                }

                .new {
                    .dimensions;
                    line-height: 25px;
                    background-color: @gray-light;
                    text-align: center;
                    border-radius: 50%;
                    .transation;

                    i {
                        margin: 0;
                    }
                }

                &:hover .delete {
                    visibility: visible;
                    opacity: 1;
                }

                &:hover .new {
                    color: @black;
                }

                &.disabled {
                    cursor: wait;
                }
            }
        }
    }
}

#product-module .product-details .field-editing {
    background-color : @white;
    padding: 15px;

    p {
        margin-bottom: 5px;
        .font(16px,bold);
    }

    textarea, input {
        width: 100%;
        resize: none;
        padding: 7px 9px;
        margin-bottom: 5px;
        font-size: 14px;
        box-shadow: none;
        border: solid 1px @white;

        &:focus {
            outline: none;
        }
    }

    &.new-color {
        .color-picker-wrapper {
            position: absolute;
            max-width: 200px;
        }
        input {
            width: auto;
            margin: auto;
            padding: 5px 7px;
        }
    }

    .messages {
        margin-top: 3px;
        p {
            font-size: 15px;
            padding: 7px 9px;
            background-color: @red-light;
            color:@red;
            font-weight: normal;
        }
    }

    .btns {
        text-align: right;
        button {
            padding: 5px 10px;
            margin: 5px 0 2px 5px;
            font-size: 13px;
            .rounded-corner(3px);
            .transation;

            &:focus {
                outline: none;
            }

            &.save-btn {
                color: @white;
                background-color: @dodgerblue;
                border: none;
                &:hover {
                    background-color: @lightskyblue;
                }
                &:disabled {
                    background: @gray-light;
                    cursor: wait;
                }
            }

            &.cancel-btn {
                color: @gray;
                border: solid 1px @white;
                background-color: @white;
                &:hover {
                    color: @gray-dark;
                    border-color: @white;
                    background-color:@white;
                }
            }
        }
    }
}

#product-module .product-details .edit-btn {
    display: none;
    position: absolute;
    .push-round(0,none,0);
    padding: 5px 7px 0px 6px;
    border-radius: 3px;
    font-size: 16px !important;
    float: right;
    cursor: pointer;
    color: @gray;
    border: 1px solid @white;
    background-color: @white;
    .transation;
    span {
        display: inline-block;
        line-height: 15px;
        margin: 0;
        opacity: 0;
        max-width: 0px;
        overflow: hidden;
        .transation;
    }

    i {
        margin: 0;
        line-height: 15px;
    }

    &:hover {
        span {
            opacity: 1;
            max-width: 100px;
            margin: 0px 5px 0px 8px;
        }
    }
}

// TODO: Move this to separate file
.spinner {
    display: inline-block;
    margin: 10px 0;
    width: 60px;
    text-align: center;

    > div {
        .dimensions(10px,10px);
        background-color: @gray-dark;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
