<div id="add-product-module">
    <div class="row">
        <div class="product-image col-sm-7">
                <img ng-src="./assets/images/add-icon.png">
        </div>
        <div class="product-details col-sm-5">
            <form name="productDetailsForm">
                <!--product-name-->
                <div class="product-name">
                    <p>Product Name</p>
                        <input type="text" name="name" ng-model="ctrl.productName" placeholder="Add name" required autofocus>
                        <div class="messages" ng-messages="productDetailsForm.name.$error">
                            <p ng-message="required">Name is required</p>
                        </div>
                </div>
                    <!--product-desc-->
                    <div class="product-desc">
                        <p>Product Description <span>(optional)</span> </p>
                            <textarea name="desc" ng-model="ctrl.productDesc" ng-maxlength="180" placeholder="Add description of product"></textarea>
                            <span class="textarea-counter">{{ 180 - productDetailsForm.desc.$viewValue.length || 0}}</span>
                    </div>
                    <!--product-price-->
                    <div class="product-price">
                        <p>Price</p>
                            <input type="number" name="price" step="0.01" ng-model="ctrl.productPrice" placeholder="Add price" required>
                            <div class="messages" ng-messages="productDetailsForm.price.$error">
                                <p ng-message="required">Price is required</p>
                            </div>
                    </div>
                    <!--product-colors-->
                    <div class="product-colors">
                        <p>Colors</p>
                        <div class="colors">
                            <div
                                class="color"
                                ng-repeat="color in ctrl.productColors track by $index"
                                ng-style="{ 'background-color': color }"
                                ng-click="ctrl.deleteColor(color)">
                                <div class="delete">
                                        <i class="fa fa-trash"></i>
                                </div>
                            </div>
                        <div class="add-color" ng-click="ctrl.fieldInEdit = 'new-color'" ng-hide="ctrl.fieldInEdit === 'new-color'">
                                    <i class="fa fa-plus"></i>
                        </div>
                        </div>
                    <div class="new-color field-editing" ng-show="ctrl.fieldInEdit === 'new-color'">
                        <color-picker
                            ng-model="ctrl.colorPickerValue"
                            options="ctrl.colorPickerOptions">
                        </color-picker>
                        <div class="btns">
                            <button
                                ng-click="ctrl.addColor()"
                                class="save-btn"><i class="fa fa-plus"></i>Add</button>
                            <button
                                ng-click="ctrl.fieldInEdit = undefined"
                                class="cancel-btn"><i class="fa fa-times"></i>Cancel</button>
                        </div>
                    </div>
                    </div><!--product-colors-->
                    <!--product-sizes-->
                    <div class="product-sizes">
                        <p><i class="fa fa-th" aria-hidden="true"></i>Sizes</p>
                        <div class="btns">
                            <button
                                class="size-btn"
                                ng-repeat="(size, value) in ctrl.productSizes"
                                ng-class="{ 'selected': value }"
                                ng-click="ctrl.changeSize(size)">{{ size }}</button>
                        </div>
                    </div> <!--/product-size-->
                    <div class="add-product-btn">
                        <button  ng-disabled="productDetailsForm.$invalid" ng-click="ctrl.addProduct()"><i class="fa fa-plus"></i>Add Product</button>
                    </div>
                </form>
            </div><!--/product-details-->
            </div>
        </div>
    </div>
</div>