<div id="add-product-module" ng-show="showContent">
  <form name="productForm" ng-submit="ctrl.addProduct();" class="ui form">
    <div class="row" style="margin: 0;">
      <div class="product-image col-xs-12 col-sm-6">
        <!--product-name-->
        <div class="section product-name">
          <div class="field-editing">
            <label>Product name</label>
            <input type="text" name="name" ng-model="ctrl.product.name" required>
            <div ng-messages="productForm.name.$touched && productForm.name.$error">
              <p class="alert alert-danger" ng-message="required">Name is required</p>
            </div>
          </div>
        </div> <!--/product-name-->

        <!--product-desc-->
        <div class="section product-desc">
          <div class="field-editing">
            <label>Product description</label>
            <textarea name="desc" ng-model="ctrl.product.desc" rows="4"></textarea>
          </div>
        </div> <!--/product-desc-->

        <!--product-price-->
        <div class="section product-price">
          <label><i class="fa fa-money"></i> Price</label>
          <div class="field-editing">
            <input type="number" min="0.0" step="0.01" name="price" ng-model="ctrl.product.price" required>
            <div class="messages" ng-messages="productForm.price.$touched && productForm.price.$error">
              <p class="alert alert-danger" ng-message="required">Price is required</p>
              <p class="alert alert-danger" ng-message="number">Price should be a number</p>
              <p class="alert alert-danger" ng-message="number">Price should be a positive number</p>
            </div>
          </div>
        </div> <!--/product-price-->
      </div>

      <div class="product-details col-xs-12 col-sm-6">
        <div class="details">
          <!--product-colors-->
          <div class="section product-colors">
            <label><i class="fa fa-paint-brush"></i> Colors</label>
            <div class="colors" ng-if="ctrl.product.dynamicFields.colors.length">
              <div
                class="color"
                ng-repeat="color in ctrl.product.dynamicFields.colors track by $index"
                ng-style="{ 'background-color': color.value }"
                ng-class="{ 'disabled': ctrl.isLoading }"
                ng-click="ctrl.deleteColor(color.value)">
                <div class="delete"><i class="fa fa-trash"></i></div>
              </div>
            </div>
            <div class="new-color field-editing">
              <div class="row">
                <div class="col-xs-5">
                  <color-picker
                    ng-model="ctrl.colorPickerValue"
                    options="ctrl.colorPickerOptions">
                  </color-picker>
                </div>
                <div class="col-xs-7">
                  <button type="button" ng-click="ctrl.addColor()" class="ui basic button"><i class="fa fa-plus"></i> Add</button>
                </div>
              </div>
            </div>
          </div> <!--/product-colors-->

          <!--product-sizes-->
          <div class="section product-sizes">
            <label><i class="fa fa-th"></i> Sizes</label>
            <div style="margin-left: 10px;" class="ui basic buttons">
              <button
                type="button"
                class="ui button"
                ng-disabled="ctrl.isLoading"
                ng-repeat="(size, value) in ctrl.product.dynamicFields.sizes"
                ng-class="{ 'inverted': value }"
                ng-click="ctrl.changeSize(size)">{{ size }}</button>
            </div>
          </div> <!--/product-size-->

          <div class="section product-images">
            <label><i class="fa fa-camera"></i> Images</label>
            <input type="file" accept="image/*" files-model="ctrl.product.images" multiple>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0; text-align: center;">
      <div class="col-xs-12">
        <div class="field-editing" style="margin: 30px 0;">
          <div class="btns">
            <button
              type="button"
              ui-sref="dashboard.list-products({ id: ctrl.categoryId })"
              class="ui button"><i class="fa fa-times"></i> Cancel</button>
            <button
              type="submit"
              ng-disabled="productForm.price.$invalid"
              class="ui button"><i class="fa fa-plus"></i> Add product</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--/product-module-->
