@path:"app/shared/them-style/";
@import "@{path}/mixins";
@import "@{path}/variables";
@import "@{path}/colors";

#settings-module {
    .shop-logo {
        text-align: center;
    }
    .shop-details {
        .name {
            font-size: 32px;
        }
        .slogan {
            margin-top: -5px;
            margin-bottom: 15px;
        }

        i {
            width: 18px;
        }

        .shop-phone, .shop-email {
            position: relative;
            margin: 7px 0;
            &:hover .edit-btn {
                display: inline;
            }
        }
    }
}

#settings-module .shop-details .edit-btn {
    display: none;
    position: absolute;
    .push-round(0,none,0);
    padding: 5px 7px 0px 6px;
    border-radius: 3px;
    font-size: 16px !important;
    float: right;
    cursor: pointer;
    color: @gray;
    border: 1px solid  @white;
    background-color: @white;
    .transation;

    span {
        display: inline-block;
        line-height: 15px;
        margin: 0;
        opacity: 0;
        max-width: 0px;
        overflow: hidden;
        .transation;
    }

    i {
        margin: 0;
        line-height: 15px;
    }

    &:hover {
        span {
            opacity: 1;
            max-width: 100px;
            margin: 0px 5px 0px 8px;
        }
    }
}

#settings-module .shop-details .field-editing {
    background-color:@white;
    padding: 15px;

    p {
        margin-bottom: 5px;
        .font(16px,bold);
    }

    textarea, input {
        width: 100%;     
        resize: none;
        padding: 7px 9px;
        margin-bottom: 5px;
        font-size: 14px;
        box-shadow: none;
        border: solid 1px @white;

        &:focus {
            outline: none;
        }
    }

    &.new-color {
        .color-picker-wrapper {
            position: absolute;
            max-width: 200px;
        }
        input {
            width: auto;
            margin: auto;
            padding: 5px 7px;
        }
    }

    .messages {
        margin-top: 3px;
        p {
            .font(15px,normal);
            padding: 7px 9px;
            background-color: @red-light;
            color:@red;
        }
    }

    .btns {
        text-align: right;
        button {
            padding: 5px 10px;
            margin: 5px 0 2px 5px;
            font-size: 13px;
            .rounded-corner(3px);
            .transation;

            &:focus {
                outline: none;
            }

            &.save-btn {
                color: @white;
                background-color: @dodgerblue;
                border: none;
                &:hover {
                    background-color: @lightskyblue;
                }
                &:disabled {
                    background: @gray-light;
                    cursor: wait;
                }
            }

            &.cancel-btn {
                color:@gray-dark;
                border: solid 1px @white;
                background-color: @white;
                &:hover {
                    color: @gray-dark;
                    border-color: @white;
                    background-color: @white;
                }
            }
        }
    }
}
