<div id="settings-module">
    <div class="row">
        <div class="col-sm-3">
            <div class="shop-logo">
                <img ng-src="{{ ctrl.shop.logo }}">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="shop-details">
                <p class="name">{{ ctrl.shop.name }}</p>
                <p class="slogan">{{ ctrl.shop.slogan }}</p>
                <p class="address"><i class="fa fa-map-marker"></i> {{ ctrl.shop.address }}</p>

                <!--shop-phone-->
                <div class="shop-phone">
                    <div class="field-value" ng-hide="ctrl.feildInEdit === 'shop-phone'">
                        <p><i class="fa fa-mobile"></i> {{ ctrl.shop.phone }}</p>
                        <div class="edit-btn" ng-hide="ctrl.isLoading" ng-click="phone.newValue = ctrl.shop.phone; ctrl.feildInEdit = 'shop-phone'">
                            <p><span>Edit</span> <i class="fa fa-pencil-square-o"></i></p>
                        </div>
                    </div>

                    <div class="field-editing" ng-show="ctrl.feildInEdit === 'shop-phone'">
                        <p>Shop phone</p>
                        <form name="shopPhoneForm">
                            <input type="text" name="name" ng-model="phone.newValue" autofocus required>
                            <div class="messages" ng-messages="shopPhoneForm.name.$error">
                                <p ng-message="required">Phone is required</p>
                            </div>
                            <div class="btns">
                                <div class="spinner" ng-show="ctrl.isLoading">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <button
                                    type="submit"
                                    ng-disabled="ctrl.isLoading || shopPhoneForm.name.$invalid"
                                    ng-click="ctrl.updateShopInfo('phone', phone.newValue);"
                                    class="save-btn"><i class="fa fa-save"></i>Save changes</button>
                                <button
                                    ng-disabled="ctrl.isLoading"
                                    ng-click="ctrl.feildInEdit = undefined"
                                    class="cancel-btn"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                        </form>
                    </div>
                </div> <!--/shop-phone-->

                <!--shop-email-->
                <div class="shop-email">
                    <div class="field-value" ng-hide="ctrl.feildInEdit === 'shop-email'">
                        <p><i class="fa fa-envelope-o"></i> {{ ctrl.shop.email }}</p>
                        <div class="edit-btn" ng-hide="ctrl.isLoading" ng-click="email.newValue = ctrl.shop.email; ctrl.feildInEdit = 'shop-email'">
                            <p><span>Edit</span> <i class="fa fa-pencil-square-o"></i></p>
                        </div>
                    </div>

                    <div class="field-editing" ng-show="ctrl.feildInEdit === 'shop-email'">
                        <p>Shop email</p>
                        <form name="shopEmailForm">
                            <input type="email" name="name" ng-model="email.newValue" autofocus required>
                            <div class="messages" ng-messages="shopEmailForm.name.$error">
                                <p ng-message="required">Email is required</p>
                                <p ng-message="email">Invalid email</p>
                            </div>
                            <div class="btns">
                                <div class="spinner" ng-show="ctrl.isLoading">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <button
                                    type="submit"
                                    ng-disabled="ctrl.isLoading || shopEmailForm.name.$invalid"
                                    ng-click="ctrl.updateShopInfo('email', email.newValue);"
                                    class="save-btn"><i class="fa fa-save"></i>Save changes</button>
                                <button
                                    ng-disabled="ctrl.isLoading"
                                    ng-click="ctrl.feildInEdit = undefined"
                                    class="cancel-btn"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                        </form>
                    </div>
                </div> <!--/shop-email-->
                <!--<p class="bio"><i class="fa fa-info-circle"></i> {{ ctrl.shop.bio }}</p>-->
            </div>
        </div>
    </div>
</div>
