<div id="dashboard">
    <div id="sidebar">
        <div class="logo">
            <a ui-sref="{{ homepage }}"><img ng-src="./assets/images/logo.png"></a>
        </div>
        <div class="menu">
            <div class="collapse-menu">
                <div class="menu-btn collapsed" data-toggle="collapse" href="#collapse-sidebar-menu">
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <span>Products</span>
                    <i class="dropdown-icon fa fa-angle-down" aria-hidden="true"></i>
                    <i class="dropdown-icon fa fa-angle-left" aria-hidden="true"></i>
                </div>
                <div id="collapse-sidebar-menu" class="collapse">
                    <a ng-repeat="category in ctrl.categories" ui-sref="dashboard.list-products({ id: category.id })" class="menu-btn sub-menu-btn">{{ category.name }}</a>
                </div>
            </div>
            <div class="menu-btn">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <span>Statistics</span>
            </div>
        </div>
    </div> <!--/sidebar -->

    <div id="page">
        <header>
            <ul>
                <li class="shop" ng-if="ctrl.shopInfo">
                    <div class="logo">
                        <img ng-src="{{ ctrl.shopInfo.logo }}">
                    </div>
                    <div class="details">
                        <p class="name">{{ ctrl.shopInfo.name }}</p>
                        <p class="slogn">{{ ctrl.shopInfo.slogan }}</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="settings">
                    <!--<a>
                        <i class="fa fa-gear"></i>
                    </a>
                    <div class="clear"></div>-->
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="settings-menu" data-toggle="dropdown" aria-haspopup="true">
                            <i class="fa fa-gear"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" ui-sref="dashboard.settings">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="ctrl.logout()">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </header> <!--/header-->

        <div class="content">
            <ui-view></ui-view>
        </div> <!--/content-->
    </div> <!--/page-->
</div> <!--/dashboard -->
